/mod_*/__pycache__
/examples/*/appimage.elf
/examples/*/appimage.hex
/examples/*/appimage_lo.bin
/examples/*/appimage_hi.bin
/examples/*/firmware.bin
/examples/*/firmware.elf
/examples/*/firmware_seed.hex
/examples/*/firmware.hex
/examples/*/firmware.map
/examples/*/icosoc.asc
/examples/*/icosoc.bin
/examples/*/icosoc.log
/examples/*/icosoc.blif
/examples/*/icosoc.json
/examples/*/icosoc.c
/examples/*/icosoc.h
/examples/*/icosoc.mk
/examples/*/icosoc.pcf
/examples/*/icosoc.rpt
/examples/*/icosoc.v
/examples/*/testbench
/examples/*/testbench.v
/examples/*/testbench.vcd
/examples/*/icosoc.ys
/examples/*/*.d
/examples/*/*.o
