board blackice2

# Trenz LED-Panel Adapter on PMOD1 and PMOD2
mod ledpanel panel
  address 1
  param SIZE 9
  param BITS_PER_CHANNEL 1
  param EXTRA_BLANKING 40
  connect panel_r0  pmod2_1
  connect panel_b0  pmod2_2
  connect panel_g1  pmod2_3
  connect panel_a   pmod2_4
  connect panel_g0  pmod2_7
  connect panel_r1  pmod2_8
  connect panel_b1  pmod2_9
  connect panel_b   pmod2_10
  connect panel_c   pmod1_1
  connect panel_clk pmod1_2
  connect panel_oe  pmod1_3
  connect panel_d   pmod1_7
  connect panel_stb pmod1_8

# 2x Analog Devices EVAL-CN2016-PMDZ on PMOD3 and PMOD4
mod gpio scales
  address 2
  # Bits:    7       6       5       4        3       2       1       0
  # Pins:    CSn     DIN     DOUT    SCLK     CSn     DIN     DOUT    SCLK
  connect IO pmod3_7 pmod3_8 pmod3_9 pmod3_10 pmod4_7 pmod4_8 pmod4_9 pmod4_10

